@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNext-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNext-Medium.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNext-DemiBold.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../assets/fonts/AkzidenzGroteskPro-LightEx.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../assets/fonts/AkzidenzGroteskPro-Ext.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../assets/fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../assets/fonts/akzidenzgroteskpro-mediumextend.woff2")
    format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AkzidenzGroteskPro";
  src: url("../assets/fonts/akzidenzgroteskpro-bold.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
}
